.bg {
    width: 100%;
    background-color: white;
}

.box1 {
    width: 100%;
    background-color: #4E61C0;
    background: linear-gradient(#579EDD, #4B5EBF);
    padding: 80px 80px 0px 80px;
    float: left;
}

.box1 div {
    float: left;
}

.box1-1 {
    width: 50%;
    color: white;
}

.btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #444445;
}

.box1-2 {
    width: 50%;
}

.box1-2-1 {
    width: 50%;
    float: right;
    padding-top: 40px;
}

.box2 {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 40px 20px 60px;
}

.box3 {
    width: 100%;
    background-color: #4B5EBF;
    color: white;
    float: left;
    padding: 20px;
}

.box3 i {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: white;
    color: #4B5EBF;
    padding-top: 25px;
}

.box3 div {
    float: left;
    text-align: center;
}

.box3-2 {
    width: 100%;
    clear: both;
}

.box3-2 div {
    width: 25%;
}

.box3-1 {
    width: 100%;
}

.box4 {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 20px;
}

.box5 {
    width: 80%;
    min-width: 320px;
    max-width: 1400px;
    margin: auto;
    color: white;
}





@media screen and (max-width:767px) {
    
    .box1-1 {
        width: 100%;
        text-align: center;
    }

    .box1-2 {
        width: 100%;
        text-align: center;
    }

    .box1-2-1 {
        width: 50%;
        float: none;
        transform: translateY(5px)
    }
}

.box5-1 {
    width: 50%;
    position: relative;
    float: left;
    font-size: 0;
}



.box5-1 img {
    width: 100%;
}







.box5-1-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 40px;
    font-size: 16px;
}

@media screen and (max-width:500px){
    .box5-1-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    font-size: 8px;
}
    .box3-2 div {
        font-size: 10px

}
    .box3-2 i{
        width: 62.5px;
        height: 62.5px;
        border-radius: 31.25px;
        padding-top: 15px;

    }
    .box1,.box2 {
        font-size: 10px;
    }
}











.box5-img {
  
    filter: brightness(0.5);
}









.box5-1-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 0px solid white;
}
.box5-1:hover .box5-1-2{
    border: 30px solid white;
    transition: all 1s;
}

.box6 {
    width: 100%;
    clear: both;
    float: left;
    padding: 20px;
    margin-top: 40px;
}

.box6-1 {
    width: 25%;
    min-width: 250px;
    margin: auto;
}
.box6-1 div {
    width: 33%;
    float: left;
    text-align: center;
}
.box6-1 i {
    width: 70px;
    height: 70px;
    background-color: #4B5EBF;
    padding-top: 18px;
    border-radius: 35px;
    color: white;
}

.box7 {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 20px;
}
